## 1. 创建 Series

In [27]:
import numpy as np
import pandas as pd

# 创建一维随机数组
data1 = np.random.randint(3,10,5)
#print(data1)
s = pd.Series(data1,index=list("abcde"))
print(s)

a    6
b    8
c    7
d    4
e    3
dtype: int64

## 2.位置索引和标签索引提取后三个数

In [28]:
print(s[-3:])
print(s["c":"e"])

c    7
d    4
e    3
dtype: int64
c    7
d    4
e    3
dtype: int64

## 3. 创建 DataFrame

In [80]:
dic1 = {"year":{0:2017,1:2018,2:2019},"price":{0:10,1:20,2:30}}
df1 = pd.DataFrame(dic1)
print(df1)

dic2 = [{"year":2017,"price":10},{"year":2018,"price":20},{"year":2019,"price":30}]
df2 = pd.DataFrame(dic2)
print(df2)

dic3 = {'year':[2017,2018,2019],'price':[10,20,30]}
df3 = pd.DataFrame(dic3)
print(df3)

   year  price
0  2017     10
1  2018     20
2  2019     30
   year  price
0  2017     10
1  2018     20
2  2019     30
   year  price
0  2017     10
1  2018     20
2  2019     30

## 4.np创建 DataFrame

In [40]:
data4 = np.random.randint(5,15,(5,3))
df_test = pd.DataFrame(data4,index=list("abcde"),columns=["one","two","three"])
print(df_test)

   one  two  three
a   14   11     13
b    9   14     11
c    9    7     12
d    7   13      5
e    7   12      9

## 5. loc 索引及替换

In [83]:
data4 = np.random.randint(5,15,(5,3))
df_test = pd.DataFrame(data4,index=list("acefh"),columns=["one","two","three"])

# 1. a行one列处替换为空
df_test.loc["a","one"]=np.nan
df_test.iloc[2,1]=-99
df_test.at["c","three"]=-99
df_test.loc["a","two"]=-100
df_test["four"]="test"

print(df_test.loc["a","one"])
print(df_test)
print(df_test.iloc[0,0])

df_change = df_test.reindex(list("abcdefgh"))
print(df_change)

nan
    one  two  three  four
a   NaN -100     10  test
c   5.0   12    -99  test
e   9.0  -99     11  test
f  12.0   13     13  test
h   8.0    5      5  test
nan
    one    two  three  four
a   NaN -100.0   10.0  test
b   NaN    NaN    NaN   NaN
c   5.0   12.0  -99.0  test
d   NaN    NaN    NaN   NaN
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g   NaN    NaN    NaN   NaN
h   8.0    5.0    5.0  test

## 6.删除存在缺失值的所有行

In [84]:
# 熟悉
df_change2 = df_change
df_change2.dropna(axis=1)
print(df_change2.isnull())
print(df_change2.isnull().sum())
print(df_change2.dropna())
print(df_change2.dropna(axis=1))
print(df_change2.dropna(how="all"))
print("###########################")
print(df_change2.dropna())

     one    two  three   four
a   True  False  False  False
b   True   True   True   True
c  False  False  False  False
d   True   True   True   True
e  False  False  False  False
f  False  False  False  False
g   True   True   True   True
h  False  False  False  False
one      4
two      3
three    3
four     3
dtype: int64
    one   two  three  four
c   5.0  12.0  -99.0  test
e   9.0 -99.0   11.0  test
f  12.0  13.0   13.0  test
h   8.0   5.0    5.0  test
Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]
    one    two  three  four
a   NaN -100.0   10.0  test
c   5.0   12.0  -99.0  test
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
h   8.0    5.0    5.0  test
###########################
    one   two  three  four
c   5.0  12.0  -99.0  test
e   9.0 -99.0   11.0  test
f  12.0  13.0   13.0  test
h   8.0   5.0    5.0  test

## 7.删除所有值都为 NaN 的行

In [85]:
print(df_change2.dropna(how="all"))

    one    two  three  four
a   NaN -100.0   10.0  test
c   5.0   12.0  -99.0  test
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
h   8.0    5.0    5.0  test

## 8. 填充缺失值

In [86]:
# 熟悉
print(df_change2.fillna(0))
print(df_change2.fillna(method="pad"))
print(df_change2.fillna(df_change2.mean()))
print(df_change2)
print("######################################")
print(df_change2.fillna(0))

    one    two  three  four
a   0.0 -100.0   10.0  test
b   0.0    0.0    0.0     0
c   5.0   12.0  -99.0  test
d   0.0    0.0    0.0     0
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g   0.0    0.0    0.0     0
h   8.0    5.0    5.0  test
    one    two  three  four
a   NaN -100.0   10.0  test
b   NaN -100.0   10.0  test
c   5.0   12.0  -99.0  test
d   5.0   12.0  -99.0  test
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g  12.0   13.0   13.0  test
h   8.0    5.0    5.0  test
    one    two  three  four
a   8.5 -100.0   10.0  test
b   8.5  -33.8  -12.0   NaN
c   5.0   12.0  -99.0  test
d   8.5  -33.8  -12.0   NaN
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g   8.5  -33.8  -12.0   NaN
h   8.0    5.0    5.0  test
    one    two  three  four
a   NaN -100.0   10.0  test
b   NaN    NaN    NaN   NaN
c   5.0   12.0  -99.0  test
d   NaN    NaN    NaN   NaN
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g   NaN    NaN    NaN   NaN
h   8.0    5.0    5.0  test
######################################
    one    two  three  four
a   0.0 -100.0   10.0  test
b   0.0    0.0    0.0     0
c   5.0   12.0  -99.0  test
d   0.0    0.0    0.0     0
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
g   0.0    0.0    0.0     0
h   8.0    5.0    5.0  test

## 9. 去除重复行

In [87]:
print(df_change2.drop_duplicates())

    one    two  three  four
a   NaN -100.0   10.0  test
b   NaN    NaN    NaN   NaN
c   5.0   12.0  -99.0  test
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
h   8.0    5.0    5.0  test

In [89]:
df_change2.drop_duplicates()

    one    two  three  four
a   NaN -100.0   10.0  test
b   NaN    NaN    NaN   NaN
c   5.0   12.0  -99.0  test
e   9.0  -99.0   11.0  test
f  12.0   13.0   13.0  test
h   8.0    5.0    5.0  test